* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

.main1 {
    z-index: 1;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    position: fixed;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    background-color: #f44336!important;
    width: 100%;
    padding: 0;
    display: flex;   
}

.main1:hover{
    color: #fff!important;
}

.main_btn {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-decoration: none;
    padding: 12px 24px;
    color: #000!important;
    background-color: #fff !important;  
}

.main_btn:hover{
    
    background-color:rgb(219, 215, 215)!important ;
}

.btn{
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    padding: 12px 24px;
    color: #fff;
    text-decoration: none;
}

.btn:hover{
    font-size: 16px;
    background-color: #fff;
    color: #000;
}

.work{
    font-family: "Montserrat", sans-serif;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #f44336;
    padding: 128px 16px;
}

.heading{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: 16px;
    font-size: 64px!important;
    font-weight: 400;
}

.real{
    font-family: "Lato", sans-serif;
    font-size: 24px;
    margin: 24px 0px;
}

button{
    cursor: pointer;
    font-size: 18px!important;
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #000;
    margin-top: 16px!important;
    padding: 12px 24px;
    border: none;
}

button:hover{
    color: white;
   color: #000!important;
   background-color:rgb(219, 215, 215)!important ;
}

.main_content{
    padding: 0.01em 16px;
    display: flex;
    padding-top: 64px!important;
    padding-bottom: 64px!important;    
}

.max{
    max-width: 980px;
    margin: auto;
}

.second{ 
    width: 73%;
    font-weight: 400;
    margin-left: -16px;
    margin-top: 0px;
}

.para{
    margin: 15px 40px 15px 0px;
    font-size: 15px;
    color: #757575!important;
    font-family: "Lato", sans-serif;
}

.lorem{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 10px 0px;
    color: #000;
    font-size: 36px;
}

.lorem_para{
    font-weight: 400;
    margin: 10px 0px;
    padding: 32px 0px;
    font-family: "Lato", sans-serif;
    font-size: 18px;
}

.dark{
    padding-left: 25px;
    text-align: center;
    font-size: 200px;
    content: "\f13d";
    color: #f44336;
    padding-top: 7px;
    margin-top: -7px; 
    width: 20%;
}

.color{
    width: 100%;
    color: #000!important;
    background-color: #f1f1f1!important;
}

.main_content1{
    padding-left: 21px;
    display: flex;
    padding-top: 64px!important;
    padding-bottom: 64px!important;    
}

.second1{ 
    width: 95%;
    font-weight: 400;
    margin-left: -16px;
    margin-top: 0px;
    padding-left: 130px;
}

.para1{
    margin: 15px 40px 15px 0px;
    font-size: 15px;
    color: #757575!important;
    font-family: "Lato", sans-serif;
    width: 100%;
}

.lorem1{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 10px 0px;
    color: #000;
    font-size: 36px;
}

.lorem_para1{
    font-weight: 400;
    margin: 10px 0px;
    padding: 32px 0px;
    font-family: "Lato", sans-serif;
    font-size: 18px;
}

.dark1{
    padding-left: 27px;
    text-align: center;
    font-size: 200px;
    content: "\f13d";
    color: #f44336;
    padding-top: 7px;
    margin-top: -7px; 
    width: 20%;
}

.small{
    color: #fff!important;
    background-color: #000!important;
    opacity: 0.60;
    padding-top: 64px!important;
    padding-bottom: 64px!important; 
}

.life{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
    margin: 16px;
}


.design{
    padding-top: 49px;
    color: #757575;
    font-size: 24px;
}

.last{
    padding: 32px 16px;
    text-align: center!important;  
    color: #757575;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    margin: 15px 0px;
    height: 250.5px;
}

.error_para{
    margin-bottom: 23px;
    margin-top: 47px;
}

@media only screen and (max-width: 600px) {
    .main_content{
        display: block;
    }
    .main_content1{
        display: block;
    }
    .btn{
        display: none;
    }
    .second{
        width: 109%;
        padding: 0px 16px;
    }   
    .second1{
        width: 100%;
        padding: 10px;
    }
    .dark{
        text-align: center;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .dark1{
        text-align: center;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .main1{
        line-height: 1.5;
    }
  }